{{/* This shortcode redirects to a page that downloads the post files. */}}

{{/* Get the post folder. */}}
{{ $post := path.Base .Page.File.Dir }}

{{/* Build the download link. */}}
{{ $gitfiles := printf "https://github.com/rodpcastro/rodpcastro.github.io/tree/main/content/posts/%s/files" $post }}
{{ $downgit := "https://downgit.github.io/#/home" }}
{{ $downfiles := printf "%s?url=%s&rootDirectory=false" $downgit $gitfiles | safeURL }}

<a href="{{ $downfiles }}" target="_blank">Download files</a>
